/* ==========================================================================
   Typography

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */


/* Fonts
   ========================================================================== */
$font-family--base:         Helvetica, arial, sans-serif;
$font-family--headers:      Helvetica, arial, sans-serif;


/* Text sizes
   ========================================================================== */
$text-size--small:              .75rem;     // 12px
$text-size--base:               100%;       // 16px
$text-size--big:                1.125rem;   // 18px


/* Line-heights
   ========================================================================== */
$line-height--base:     1.6;
$line-height--headers:  1;
