/* ==========================================================================
   Actions
   ========================================================================== */


/* General
   ========================================================================== */
.actions {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}



/* Items
   ========================================================================== */
.actions__item {
    position: relative;

    padding: .8em 1.5em;

    font-size: .4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: $white;

    background: transparent;
    border: 0;
    opacity: .4;

    transition: opacity .3s ease, color .3s ease;

    &:hover {
        opacity: 1;
    }

    &:active, &:focus {
        outline: 0;
    }
}

.actions__item--full {
    border: 1px solid $white;
    border-radius: 4px;
}

.actions__item--hidden {
    display: none;
}

.actions__item--progress {
    color: transparent;

    &:before {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;

        display: block;
        width: .5rem;
        height: .5rem;

        background: $white;
        border-radius: 100%;

        transform: translate(-50%, -50%);
    }
}
