/* ==========================================================================
   World
   ========================================================================== */


/* General
   ========================================================================== */
.world {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    transform: translate3d(0, 0, 0);

    // &:before {
    //     content: '';
    //
    //     z-index: -1;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //
    //     width: 100%;
    //     height: 100%;
    //
    //     opacity: .15;
    //
    //     background: url('../img/space-bg-1.jpg') top left repeat;
    //     background-size: cover;
    // }
}


.world__info {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    margin: 0;
    padding: 1em 2em;

    font-size: .4rem;
    color: $white;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.world__info__emp {
    font-size: 1rem;
}


.world__info__dl {

}

.world__info__dl__dt {
    font-size: 7px;
    opacity: .6;
}

.world__info__dl__dd {
    font-weight: bold;
}
